#root {

}

@import "tailwindcss";

@layer utilities {
  .font-pixelify {
    font-family: "Pixelify Sans", sans-serif;
  }
  .bg-game-light {
    background-image: url("/assets/Background-Image-Light.svg");
  }
  .dark .bg-game-dark {
    background-image: url("/assets/Background-Image-Dark.svg");
  }

  .site-background {
      width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  }

  .text-auto { color: #111; }
  .dark .text-auto { color: #fff; }
}

@import "@fontsource/pixelify-sans/400.css";
@import "@fontsource/pixelify-sans/700.css";
